source/test/resources/xsd/task-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:task-base.informatica.mdm"
            xmlns:sdo="commonj.sdo"
            xmlns:sdoJava="commonj.sdo/java"
            xmlns:sdoXML="commonj.sdo/xml"
            xmlns:cs="urn:cs-base.informatica.mdm"
            xmlns:co="urn:co-base.informatica.mdm"
            xmlns:rest="urn:cs-rest.informatica.mdm"
            xmlns="urn:task-base.informatica.mdm" elementFormDefault="qualified"
            sdoJava:package="com.informatica.mdm.sdo.task.base">

    <xsd:import schemaLocation="cs-rest.xsd" namespace="urn:cs-rest.informatica.mdm"/>
    <xsd:import schemaLocation="cs-base.xsd" namespace="urn:cs-base.informatica.mdm"/>
    <xsd:import schemaLocation="co-base.xsd" namespace="urn:co-base.informatica.mdm"/>

	<xsd:simpleType name="CommentRelevancy">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AS_REQUIRED"/>
			<xsd:enumeration value="OPTIONAL"/>
			<xsd:enumeration value="MANDATORY"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="AttachmentRelevancy">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEVER"/>
			<xsd:enumeration value="OPTIONAL"/>
			<xsd:enumeration value="MANDATORY"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="TaskType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="label" type="xsd:string"/>
			<xsd:element name="taskKind" type="xsd:string"/>
			<xsd:element name="taskAction" type="TaskAction" maxOccurs="unbounded"/>
			<xsd:element name="workflowVersion" type="xsd:int"/>
			<xsd:element name="comment" type="CommentRelevancy"/>
			<xsd:element name="attachment" type="AttachmentRelevancy"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TaskTypes">
        <xsd:sequence>
            <xsd:element name="taskTypes" type="TaskType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TaskAction">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="label" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="nextTaskType" type="xsd:string" maxOccurs="1" minOccurs="0"/>

            <xsd:element name="comment" type="CommentRelevancy"/>
            <xsd:element name="attachment" type="AttachmentRelevancy"/>
        </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="TaskAttachment">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="contentType" type="xsd:string"/>
			<xsd:element name="creator" type="xsd:string"/>
			<xsd:element name="createDate" type="xsd:dateTime" sdoXML:dataType="sdo:Date"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="TaskData">
        <xsd:sequence>

            <xsd:element ref="rest:link" minOccurs="0" maxOccurs="unbounded"/>

            <xsd:element name="taskType" type="TaskType"/>
            <xsd:element name="taskId" type="xsd:string"/>
            <xsd:element name="processId" type="xsd:string"/>
            <xsd:element name="owner" type="xsd:string"/>
            <xsd:element name="isTaskOwner" type="xsd:boolean"/>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="comments" type="xsd:string"/>
            <xsd:element name="dueDate" type="xsd:dateTime" sdoXML:dataType="sdo:Date" minOccurs="0"/>
            <xsd:element name="status" type="Status"/>
            <xsd:element name="priority" type="Priority"/>

            <xsd:element name="taskRecord" type="TaskRecord" maxOccurs="unbounded"/>

            <xsd:element name="creator" type="xsd:string" minOccurs="0"/>
            <xsd:element name="createDate" type="xsd:dateTime" sdoXML:dataType="sdo:Date" minOccurs="0"/>
            <xsd:element name="updatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="lastUpdateDate" type="xsd:dateTime" sdoXML:dataType="sdo:Date" minOccurs="0"/>
            <xsd:element name="groups" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="attachments" type="TaskAttachment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BETaskType">
        <xsd:complexContent>
            <xsd:extension base="TaskType">
                <xsd:sequence>
                    <xsd:element name="pendingBVT" type="xsd:boolean"/>
                    <xsd:element name="updateType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BETaskAction">
        <xsd:complexContent>
            <xsd:extension base="TaskAction">
                <xsd:sequence>
                    <xsd:element name="manualReassign" type="xsd:boolean" default="false"/>
                    <xsd:element name="closeTaskView" type="xsd:boolean" default="true"/>
                    <xsd:element name="cancelTask" type="xsd:boolean" default="false"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="BETaskData">
        <xsd:complexContent>
            <xsd:extension base="TaskData">
                <xsd:sequence>
                    <xsd:element name="businessEntity" type="xsd:string"/>
                    <xsd:element name="interactionId" type="xsd:string"/>
                    <xsd:element name="orsId" type="xsd:string"/>
                    <xsd:element name="rejectinteractionId" type="xsd:string"/>
                    <xsd:element name="effectiveDate" type="xsd:dateTime" sdoXML:dataType="sdo:Date" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="OPEN"/>
            <xsd:enumeration value="CLOSED"/>
            <xsd:enumeration value="OBSOLETE"/>
            <xsd:enumeration value="ANY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Priority">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LOW"/>
            <xsd:enumeration value="NORMAL"/>
            <xsd:enumeration value="HIGH"/>
            <xsd:enumeration value="ANY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Position">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="USER"/>
            <xsd:enumeration value="WORKFLOW"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="TaskRecord">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BETaskRecord">
        <xsd:complexContent>
            <xsd:extension base="TaskRecord">
                <xsd:sequence>
                    <!-- BusinessEntityKey.name can be a path 'Person.Address' -->
                    <xsd:element name="businessEntity" type="cs:BusinessEntityKey"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TaskData.Pager">
        <xsd:complexContent>
            <xsd:extension base="co:Pager">
                <xsd:sequence>
                    <xsd:element name="task" type="TaskData" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DatePeriod">
        <xsd:attribute name="startDate" type="xsd:dateTime" sdoXML:dataType="sdo:Date"/>
        <xsd:attribute name="endDate" type="xsd:dateTime" sdoXML:dataType="sdo:Date"/>
    </xsd:complexType>

    <xsd:complexType name="TaskFilter">
        <xsd:sequence>
        	<xsd:element name="taskType" type="xsd:string" />
        	<xsd:element name="taskId" type="xsd:string" />
        	<xsd:element name="processId" type="xsd:string" />
        	<xsd:element name="owner" type="xsd:string" />
        	<xsd:element name="title" type="xsd:string" />
        	<xsd:element name="dueDate" type="DatePeriod" minOccurs="0" />
        	<xsd:element name="overdueOnly" type="xsd:string"/>
        	<xsd:element name="status" type="Status" />
        	<xsd:element name="priority" type="Priority" />
        	<xsd:element name="creator" type="xsd:string" minOccurs="0" />
        	<xsd:element name="createDate" type="DatePeriod"
        		minOccurs="0" />

        	<xsd:element name="includeUnassigned" type="xsd:boolean"
        		minOccurs="0" />
        	<xsd:element name="canBeAssignedToUser" type="xsd:boolean"
        		minOccurs="0" />
        	<xsd:element name="rawStatus" type="xsd:string"
        		maxOccurs="1" minOccurs="0">
        	</xsd:element>
        	<xsd:element name="unclaimed" type="xsd:boolean"
        		minOccurs="0" />
        	<xsd:element name="mode" type="xsd:string"
        		minOccurs="0" />
        	<xsd:element name="query" type="xsd:string"
        		minOccurs="0" />		
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="BETaskFilter">
        <xsd:complexContent>
            <xsd:extension base="TaskFilter">
                <xsd:sequence>
                    <xsd:element name="businessEntity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="taskRecordKey" type="cs:BusinessEntityKey" minOccurs="0"/>
                    <xsd:element name="hierarchies" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SortCriteria">
        <xsd:sequence>
            <xsd:element name="sortField" type="SortField" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SortField">
        <xsd:attribute name="field" type="xsd:string"/>
        <xsd:attribute name="order" type="SortOrder"/>
    </xsd:complexType>

    <xsd:simpleType name="SortOrder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ASCENDING"/>
            <xsd:enumeration value="DESCENDING"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ProcessFilter">
        <xsd:sequence>
            <xsd:element name="taskId" type="xsd:string"/>
            <xsd:element name="owner" type="xsd:string"/>
            <xsd:element name="status" type="Status"/>
            <xsd:element name="taskPosition" type="Position" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ApplicationContext">
        <xsd:sequence>
            <xsd:element name="applicationName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>